<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="index.html">EmergenSigns</a></h1>
        <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#services">Login</a></li>
            <li><a class="nav-link scrollto" href="#portfolio">Gestures List</a></li>
            <li><a class="nav-link scrollto" href="#team">Gesture Learning</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>
